{% extends "layout.html" %}

{% block title %}
    about
{% endblock %}

{% block main %}
      <div class="container-sm my-5 pt-4">
         <div class="row my-5">

             <div class="col-sm-6 gy-5 fill">
                 <img src="static/PC0417_ePublishing_SPX01.jpg" class="float-start" height="100%" >
             </div>

             <div class="col-sm-5 sub-font gy-5" id="aboutpara1">
                 <h1 class="main-font mb-4">What is a DCS?</h1>
                 <p class="mb-3">A District Cooling System (DCS) produces chilled water within a centralised energy plant. It distributes it through a network of underground pipes for use in space and process cooling. There are 3 main components in a DCS:</p>
                 <p class="mb-3">1. The Central Chiller Plant</p>
                 <p class="mb-3 fontitalic">This is the only cooling station required to generate chilled water</p>
                 <p class="mb-3">2. The Distribution network</p>
                 <p class="mb-3 fontitalic">It allows individual buildings to become independent from split systems, chillers and cooling towers as these pipes directly transport used water from buildings to the central plant to be chilled again and then re-circulated through the closed-loop piping system. Its pumps distribute the chilled water by creating a pressure differential between the supply and return lines</p>
                 <p class="mb-3">3. Consumer substation</p>
                 <p class="mb-3 fontitalic">It connects the DCS-distributed chilled water pipe to the building. It contains: (i) air handling units: in direct connection systems, the cooling water is distributed to the terminal equipment, which is the air handling, fan coil units and induction units (ii) heat exchanger: transfers heat between the chilled water supply of DCS and the air-conditioning system of the user building. One or more heat exchangers would be used in indirect connection systems (iii) chilled water piping in the building.</p>
               </div>

         </div>
     </div>
     <div class="container-sm my-5 pt-4">
         <div class="row my-5">
          
               <div class="col-sm-5 sub-font gy-5" id="aboutpara2">
                  <h1 class="main-font mb-4">How does it run?</h1>
                  <p class="mb-3">Individuals would purchase chilled water for their building from the district cooling system operator and do not need to install their own chillers plants.</p>
                  <p class="mb-3">Most DCSs use sea water cooling (bring the pipes with water into close contact with a large body of seawater) or compression (compressing water to reduce its temperature) to cool water down to near freezing temperatures. This allows for highly efficient heat transfer and circulation within a district, achieving a wide range of benefits that would ultimately improve people’s quality of life, establish a sustainable living environment and pave a path for a green district.</p>
               </div>

               <div class="col-sm-6 gy-5 fill">
                  <img src="static/Sea-water-district-cooling-system.png" class="float-start" width="614" >
               </div>

         </div>
      </div>
      <div class="container-sm my-5 pt-4">
         <div class="row my-5">

             <div class="col sub-font gy-5" id="aboutpara1">
                 <h1 class="main-font mb-4">Science behind DCS</h1>
                 <p class="mb-3">Cooled water is carried through pipes to buildings across the district by pipes from a central cooling facility where the water is chilled. </p>
                 <p class="mb-3">The heat transfer formula can be expressed as Q=mcΔT, where Q is heat transferred, m is mass, c is the specific heat, and ΔT is the temperature difference. Heat transfer is referred to as the exchange of heat from an object at a high temperature to an object at a low temperature.</p>
                 <p class="mb-3">The practical application of this concept is apparent in our daily life when we feel a hot object by placing our hand on it. As the hot object receives heat from our hand, it cools down. Instead, the cooler object warms up by transferring thermal energy to our hand.</p>
                 <p class="mb-3">Using the particle model, heat transfer can be visualised. Heat is, in general, a measure of energy. The quicker the vibrations of atoms/molecules, the more energy they possess and the higher their perceived temperature. In a solid block of material, if one end of the material is heated, the particles at that end vibrate around their fixed position rapidly and at high intensity. These particles bump into neighbouring particles, causing them to vibrate at the same rate. This process continues throughout the material until all of the particles are vibrating at a now intense rate. Heat is successfully transferred from one end to the other, also known as conduction.</p>
                 <p class="mb-3">A DCS mainly makes use of conduction as a method of heat transfer. Heat is carried from the atmosphere through air circulation units and into underground pipes. The heat is then transferred to the water inside pipes through conduction, causing the temperature of the water to rise. The now warm water travels back to the cooling unit and comes into contact with a large body of sea water(or a compression unit), transferring its heat to the exterior. The now cool water runs back through the pipe circuit.</p>
                 <p class="mb-3">Water has a very high specific heat capacity (~4200 J Kg-1 °C-1). This makes water an optimal medium for heat transfer as it can absorb a large amount of heat before raising its temperature. A large body of water (sea) amplifies this effect and makes for an excellent method for cooling.</p>
                 <img src="static/image4.jpg" class="text-start pt-2 pb-3" width="100%">
                 <p class="mb-3">Again from an atomic perspective, as a liquid is compressed, moving particles are brought close together, forming a dense lattice of particles. The reduction in space between particles forces them to vibrate and move at a lesser speed, resulting in decreased energy and hence a lower temperature.</p>
             </div>

         </div>
      </div>
      <div class="container-lg my-2">
         <h1 class="main-font m-5 text-center">Benefits of DCS</h1>
         <p class="mx-5">Establishing a District Cooling System provides the city with a plethora of benefits and advantages, from economic to environmental, creating a more sustainable and green living environment without sacrificing comfort and enjoyment.</p>
         <p class="mx-5">The benefits of a DCS mainly stem from the fact that the cooling of the entire district is centralised at one or several power plants, making use of large-scale cooling techniques (eg. compression) that wouldn’t otherwise be possible in commercial-sized cooling units, increasing the efficiency of the generation of cool air (or more precisely the extraction of heat from air). </p>
      </div>

      <div class="container-sm my-5 pt-4">
         <div class="row my-2">
            
             <div class="col-sm-5 sub-font gy-5" id="aboutpara1">
                 <h1 class="main-font mb-4">1. Lower cost</h1>
                 <p class="mb-3">A DCS requires only a small number of centralised cooling plants and pipes running underground per district. This completely eliminates the need for large-scale air-conditioning units otherwise installed on every individual building/house, cutting a considerable amount of cost invested in cooling. The reduction in maintenance costs and the availability of large-scale, efficient cooling systems furthers the extent of cost-cutting, making DCS an extremely attractive cooling technique in districts.</p>
             </div>

             <div class="col-sm-6 gy-5">
                  <img src="static/air-conditioning_north-point_zolima-citymag.jpg.webp" class="float-start" width="100%" >
             </div>

         </div>
      </div>

      <div class="container-sm my-5 pt-4">
         <div class="row my-2">
            
             <div class="col-sm-6 gy-5">
                 <img src="static/image1.png" class="float-start" width="90%" >
             </div>

             <div class="col-sm-5 sub-font gy-5" id="aboutpara1">
                 <h1 class="main-font mb-4">2. Lower energy consumption</h1>
                 <p class="mb-3">Centralising district-wide cooling would allow for advanced cooling techniques like large-scale air compression or utilising seawater and, coupled with the effect of having considerably fewer cooling units, would drastically reduce the energy required to cool an entire district. It is estimated that adopting a DCS would lead to a whopping annual saving of 85mil kWh (~96.2mil HKD in electricity bills), which is not only beneficial in a monetary point of view but is also hugely advantageous to the environment and contributes significantly towards intelligent use of energy. </p>
             </div>

         </div>
      </div>

      <div class="container-sm my-5 pt-4">
         <div class="row my-2">
            
             <div class="col-sm-5 sub-font gy-5" id="aboutpara1">
                 <h1 class="main-font mb-4">3. Environmentally friendly</h1>
                 <p class="mb-3">Adopting a DCS greatly reduces energy consumption, requiring only energy to run small numbers of power stations (which adopt highly energy-efficient cooling models) to support water circulation in pipes and power air circulation within buildings. This also translates to gas emissions. The DCS project being implemented in Kai Tak alone is estimated to save 59,500 tonnes of carbon dioxide emissions. Aside from a cut in waste gas emissions, having few power stations also allows for more efficient energy and waste management, for example, the enforcement of renewable energy and better control of excreted gas and chemicals. This contributes towards a less significant carbon footprint and consolidates a foundation for a green city, upon which technological advancements and goals for sustainability can thrive. </p>
             </div>

             <div class="col-sm-6 gy-5">
                  <img src="static/ehud-neuhaus-wW5854gAm1c-unsplash.jpg" class="float-start" width="100%" >
             </div>

         </div>
      </div>

      <div class="container-sm my-5 pt-4">
         <div class="row my-2">
            
            <div class="col-sm-6 gy-5">
               <img src="static/matthias-schroder-KoBCaTPydqs-unsplash.jpg" class="float-start" width="100%" >
            </div>

             <div class="col-sm-5 sub-font gy-5" id="aboutpara1">
                 <h1 class="main-font mb-4">4. City beautification</h1>
                 <p class="mb-3">The absence of individual cooling units on top of each building opens up multitudes of opportunities for architects and engineers to design and create visually pleasing and soul-soothing instalments, like a rooftop garden or greenifying wall decorations. The elimination of separate AC units also reduces individual noise generation and pollution sources, contributing to a more clean and neat district outlook. Often looked down on, visual characteristics of cities play a surprisingly significant role in people’s quality of life and attract overwhelmingly positive impressions, improving a district’s general attractiveness.  </p>
             </div>

         </div>
      </div>

      <div class="container-sm my-5 pt-4">
         <div class="row my-2">
            
             <div class="col-sm-5 sub-font gy-5" id="aboutpara1">
                 <h1 class="main-font mb-4">5. Efficient space management</h1>
                 <p class="mb-3">Aside from outside beautification, a DCS can drastically improve interior design and efficiency. For buildings currently utilising individual AC units, the absence of such units would save up unbelievable amounts of space, allowing for highly efficient use of space and encouraging good design revolving around productivity with little limitation. Furthermore, with better interior design, workflows can be streamlined, and societal productivity will improve.</p>
             </div>

             <div class="col-sm-6 gy-5">
                  <img src="static/rodeo-project-management-software-PYqzYhTNjho-unsplash.jpg" class="float-start" width="100%" >
             </div>

         </div>
      </div>

      <div class="container-sm my-5 pt-4">
         <div class="row my-2">
            
            <div class="col-sm-6 gy-5">
               <img src="static/airconmaintenance-1024x675.jpg" class="float-start" width="100%" >
            </div>

             <div class="col-sm-5 sub-font gy-5" id="aboutpara1">
                 <h1 class="main-font mb-4">6. Flexible maintenance</h1>
                 <p class="mb-3">Improvements in cooling capabilities can be easily carried out by simple upgrades and modifications in the central cooling plants, without the need to alter the cooling systems of buildings which are often extremely costly and tricky to carry out.  </p>
             </div>

         </div>
      </div>

    <div style="margin-top: 150px; margin-bottom: 150px;">
        <a class="btn btn-light main-font position-relative top-50 start-50 translate-middle" style="font-size: 16px;" href="/game.html">TEST YOUR KNOWLEDGE!</a>
    </div>

{% endblock %}