{% extends "layout.html" %}

{% block title %}
    Game
{% endblock %}

{% block main %}
   <div class="position-absolute top-50 start-50 translate-middle d-flex flex-column justify-content-center">
        {% if media["source"] != "x" %}
            {% if media["type"] == "video" %}
                <video width="70%" class="m-auto mb-5" muted autoplay>
                    <source src={{media["source"]}} type="video/mp4">
                </video>
            {% else %}
                <img src={{media["source"]}} style="width: 70%" class="m-auto mb-5">
            {% endif %}
        {% endif %}

        <form action="/gamestart" method="post" class="d-flex flex-column justify-content-start m-auto ">

            <span >
                <h2 >{{ question }}
            </span>

            <input type="hidden" name="quiz_counter" value="{{quiz_counter}}">

            {% for i in range(0, no) %}
                <div>
                    <button type="submit" name="option" value="{{i+1}}" class="m-2 btn btn-primary" style="text-align:left; padding-left:10px">{{answer[i]}}</button>
                </div>
            {% endfor %}
        </form>
   </div>
{% endblock %}