{% extends "layout.html" %}

{% block title %}
    Game
{% endblock %}

{% block main %}
   <div class="position-absolute top-50 start-50 translate-middle">
      <div>
         <h2>Click the button below to start!
      </div>
      <div>
         <form action="/gamestart" method="get">
            <input type="hidden" name="quiz_counter" value="0">
            <button type="submit" class="btn btn-primary position-relative start-50 translate-middle mt-4">Start Game</button>
         </form>
      </div>
   </div>
{% endblock %}